<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rohit Ahuja">
    <meta
    name="description"
    content="teacher registration  Website made by rohit Ahuja"
  />
  <title>teacher home page</title>

<h1> <b>teacher home page</b></h1>
<h3> get started as a student</h3>
<h1>{{user.teacher.FirstName}} {{user.teacher.lastName}}</h1>
<p> please enter your login id and password to continue</p>
